<center>
<h1>Dompet Santri</h1>
<p>Dompet santri adalah project platform untuk memudahkan komunikasi dalam problem keuangan khususnya agar pengiriman uang kepada santri dapat desentrilize dengan masing-masing santri memiliki id tersendiri dalam bentuk NFC card</p>
<%= link_to "Home", root_path %>