<div class="jumbotron">
        <center>
        <h1>Welcome Admin</h1>
        <p>Read and update your Dompet Santri here</p>
        <hr>
        <table border="1" cellpadding="0" cellspacing="" width="100%",
         style="background-color:gray">
        <thead>
         <tr>
          <th>Idsantri</th>
          <th>Name</th>
          <th>Balance</th>
          <th>Created at</th>
          <th>Update at</th>
         </tr>
         <br>
         <tr>
          <td>62980172983</td>
          <td>saleh</td>
          <td>905000</td>
          <td>23-02022</td>
          <td>01-10-2022</td>
         </tr>
         <tr>
          <td>62980172984</td>
          <td>muhammad</td>
          <td>8000000</td>
          <td>22-09-2022</td>
          <td>30-10-2022</td>
         </tr>
        </table>
        <br>
     <%= link_to "About Dompet santri", about_path %>
     <center>
</div>